@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: all 0.2s;
}

.hamburger .top,
.hamburger .middle,
.hamburger .bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #fff;
  transform: rotate(0);
  transition: all 0.4s;
}

.hamburger .middle {
  transform: translateY(7px);
}

.hamburger .bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.open .middle {
  display: none;
}

.btn,
.social-icon {
  cursor: pointer;
  transition: 0.2s all ease-out;
}

.media-img {
  aspect-ratio: 7/5;
  object-fit: cover;
  object-position: center;
  width: 100%;
  transition: 0.2s all ease-in-out;
}

.media-container {
  overflow: hidden;
}

.listing:hover .media-img {
  transform: scale(1.1);
}

[data-active] {
  opacity: 1;
  z-index: 1;
  display: flex;
}

.avatar {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-width: 15rem;
}
